@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Our JokesApp </h1>
    <p>Please Click on 'Jokes' button in the navbar to see jokes and to create new jokes. </p>
</div>
